@import './tailwind.css';
@import 'tippy.js/dist/tippy.css';
@import 'react-confirm-alert/src/react-confirm-alert.css';

.paginate-link-active {
  color: #fff !important;
  background: #012641 !important;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: -7px;
}
